@import "./variables";

header {
  height: 100px;
  background-color: $black;
  padding: 10px;
  display: flex;
  justify-content: center;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
  }

  nav {
    display: flex;
    width: 60%;
    justify-content: left;

    .navigation {
      display: flex;
      flex-flow: row;
      justify-content: space-around;
      align-items: center;

      &__link {
        color: $white;
        font-size: $font-medium;
        margin: 30px;
      }
    }
  }
}
