@import "./variables";

.product {
  width: 240px;
  background-color: $pure-white;
  margin: 20px;
  padding: 15px;
  padding-top: 30px;
  position: relative;

  &__name {
    font-size: 21px;
  }

  &__price {
    position: absolute;
    right: 15px;
    top: -20px;
    height: 40px;
    background-color: $dark-red;
    padding: 10px;
    color: $white-gray;
    font-size: 18px;
    box-shadow: 2px 2px 5px $pure-black;
  }

  &__image {
    position: relative;
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

  img {
    width: 80%;
    height: 200px;
  }

  &__button {
    display: inline-block;
    width: 100%;
    padding: 15px;
    background-color: $black;
    color: $white;
    border-radius: 4px;
    border: 3px solid #2b2b2b;
    font-size: 15px;
    margin-top: 30px;
    cursor: pointer;
  }
}
