/* COLORS */
$black: #363636;
$white: #f0f0f0;
$red: #ff5145;
$white-gray: #f0f0f0;
$pure-white: #ffffff;
$pure-black: #000000;
$dark-red: #d44339;
$light-black: #969696;

/* FONT SIZES */
$font-medium: 22px;
$font-large: 40px;
